$bubble-background-color: var(--gray-3);
$bubble-radius: var(--radius-3);
$bubble-shadow: var(--shadow-3);
$bubble-border-color: var(--gray-6);

$prompt-hover-background-color: var(--gray-3);
$prompt-disabled-background-color: var(--gray-4);